header{
  line-height: 150px;

}
.clock {
  margin-left:auto;
  margin-right:auto;
  width:800px;
  color:#fff;
}

#Date {
  font-family: Arial, Helvetica, sans-serif;
  font-size:36px;
  text-align:center;
  text-shadow:0 0 5px #00c6ff;
}

ul {
  width:800px;
  margin:0 auto;
  padding:0px;
  list-style:none;
  text-align:center;
}

ul li {
  display:inline;
  font-size:3em;
  text-align:center;
  font-family:Arial, Helvetica, sans-serif;
  text-shadow:0 0 5px #00c6ff;
}

#point {
  position:relative;
  -moz-animation:mymove 1s ease infinite;
  -webkit-animation:mymove 1s ease infinite;
  padding-left:10px; padding-right:10px;
}

@-webkit-keyframes mymove 
{
0% {opacity:1.0; text-shadow:0 0 20px #00c6ff;}
50% {opacity:0; text-shadow:none; }
100% {opacity:1.0; text-shadow:0 0 20px #00c6ff; }    
}

@-moz-keyframes mymove 
{
0% {opacity:1.0; text-shadow:0 0 20px #00c6ff;}
50% {opacity:0; text-shadow:none; }
100% {opacity:1.0; text-shadow:0 0 20px #00c6ff; }    
}

.cd-timeline-content img, .sidebar.menu img{
  width: 75px;
  height: 75px;
}

.inverted.menu{
  margin-bottom: 0px;
}

.sidebar p, .sidebar div{
  color: #ffffff !important;
}
.sidebar .author{
  color: #ffffff !important;
}
.sidebar .actions a{
  color: #2E94CF !important;

}
.sidebar .content{
  text-align: left;
}
.ui.card.profile{
  margin: 10px auto;
}
.card img{
  max-height: 290px;
}
.dropdown .item{
  text-align: center;
}