@charset "UTF-8";
@import url(http://fonts.googleapis.com/css?family=Roboto:300);
@import url(http://fonts.googleapis.com/css?family=Droid+Serif|Open+Sans:400,700);
/* line 5, ../../../../Ruby193/lib/ruby/gems/1.9.1/gems/compass-core-1.0.1/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

/* line 22, ../../../../Ruby193/lib/ruby/gems/1.9.1/gems/compass-core-1.0.1/stylesheets/compass/reset/_utilities.scss */
html {
  line-height: 1;
}

/* line 24, ../../../../Ruby193/lib/ruby/gems/1.9.1/gems/compass-core-1.0.1/stylesheets/compass/reset/_utilities.scss */
ol, ul {
  list-style: none;
}

/* line 26, ../../../../Ruby193/lib/ruby/gems/1.9.1/gems/compass-core-1.0.1/stylesheets/compass/reset/_utilities.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 28, ../../../../Ruby193/lib/ruby/gems/1.9.1/gems/compass-core-1.0.1/stylesheets/compass/reset/_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

/* line 30, ../../../../Ruby193/lib/ruby/gems/1.9.1/gems/compass-core-1.0.1/stylesheets/compass/reset/_utilities.scss */
q, blockquote {
  quotes: none;
}
/* line 103, ../../../../Ruby193/lib/ruby/gems/1.9.1/gems/compass-core-1.0.1/stylesheets/compass/reset/_utilities.scss */
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

/* line 32, ../../../../Ruby193/lib/ruby/gems/1.9.1/gems/compass-core-1.0.1/stylesheets/compass/reset/_utilities.scss */
a img {
  border: none;
}

/* line 116, ../../../../Ruby193/lib/ruby/gems/1.9.1/gems/compass-core-1.0.1/stylesheets/compass/reset/_utilities.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section, summary {
  display: block;
}

/* line 8, ../scss/base/_base.scss */
* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -o-box-sizing: border-box;
  box-sizing: border-box;
  text-decoration: none;
}

/* line 17, ../scss/base/_base.scss */
body {
  font-family: "Roboto" ,"微軟正黑體" , "Microsoft JhengHei";
}

/* line 8, ../scss/screen.scss */
.profile-con #set-body {
  background: -moz-linear-gradient(45deg, #ff5db1 0%, #fe775f 0%, #ede6c6 100%);
  /* FF3.6+ */
  background: -webkit-linear-gradient(45deg, #ff5db1 0%, #fe775f 0%, #ede6c6 100%);
  /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(45deg, #ff5db1 0%, #fe775f 0%, #ede6c6 100%);
  /* Opera 11.10+ */
  background: -ms-linear-gradient(45deg, #ff5db1 0%, #fe775f 0%, #ede6c6 100%);
  /* IE10+ */
  background: linear-gradient(45deg, #ff5db1 0%, #fe775f 0%, #ede6c6 100%);
  /* W3C */
}
/* line 15, ../scss/screen.scss */
.profile-con #set-body .top-line {
  display: flex;
  padding-top: 1em;
}
/* line 18, ../scss/screen.scss */
.profile-con #set-body .top-line #your-name {
  font-size: 1.5em;
  flex: 1;
}
/* line 22, ../scss/screen.scss */
.profile-con #set-body .top-line i {
  font-size: 2.5em;
  flex: 1;
}
/* line 26, ../scss/screen.scss */
.profile-con #set-body .top-line span, .profile-con #set-body .top-line i {
  vertical-align: middle;
  text-align: center;
}
/* line 32, ../scss/screen.scss */
.profile-con #set-body .icon-wrap {
  text-align: center;
  padding: 2em 0 3em;
}
/* line 35, ../scss/screen.scss */
.profile-con #set-body .icon-wrap .icon-images {
  display: inline-flex;
  margin: 0px 4.5em;
  width: 90px;
  height: 90px;
  border-radius: 50%;
  position: relative;
  z-index: 1;
  background-color: #ED8368;
}
/* line 44, ../scss/screen.scss */
.profile-con #set-body .icon-wrap .icon-images i.fa {
  color: #fff;
  margin: auto;
}
/* line 48, ../scss/screen.scss */
.profile-con #set-body .icon-wrap .icon-images:hover {
  background-color: #fff;
}
/* line 50, ../scss/screen.scss */
.profile-con #set-body .icon-wrap .icon-images:hover i.fa {
  color: #ED8368;
}
/* line 56, ../scss/screen.scss */
.profile-con #set-body .icon-wrap .big-circle {
  display: inline-block;
  vertical-align: middle;
  height: 270px px;
  width: 270px px;
  border-radius: 50%;
  box-shadow: 0 0 10px 20px #F5A581;
}
/* line 63, ../scss/screen.scss */
.profile-con #set-body .icon-wrap .big-circle img {
  display: inline-block;
  height: 250px;
  width: 250px;
  border-radius: 50%;
  box-shadow: 0 0 0 5px #fff;
}
/* line 73, ../scss/screen.scss */
.profile-con #set-body .bottom-line {
  text-align: center;
  padding-bottom: 1em;
  color: #fff;
  font-size: 1.5em;
}

/* line 82, ../scss/screen.scss */
#friend-followed, #might-interested {
  background-color: #f2efef;
  margin: 10px 0px 10px 0px;
}

/* line 87, ../scss/screen.scss */
.belt {
  display: -webkit-flex;
  display: flex;
}
/* line 90, ../scss/screen.scss */
.belt > div {
  color: #FFF;
  text-align: center;
  flex: 1;
  background-color: #F8AC8F;
  margin: 4px 2px 4px 2px;
  padding: 30px 0px 30px 0px;
}
/* line 97, ../scss/screen.scss */
.belt > div.followers {
  margin-left: 0px;
}
/* line 100, ../scss/screen.scss */
.belt > div.Dents {
  background-color: #FF7F66;
}
/* line 103, ../scss/screen.scss */
.belt > div.friends-included {
  margin-right: 0px;
}
/* line 107, ../scss/screen.scss */
.belt .Num {
  font-size: 25px;
}
/* line 110, ../scss/screen.scss */
.belt .belt-title {
  font-size: 20px;
  text-transform: uppercase;
  color: #666666;
  margin: 10px;
}
/* line 115, ../scss/screen.scss */
.belt .belt-title.til-dents {
  color: #fff;
}

/* line 123, ../scss/screen.scss */
.ui.page.grid {
  margin: 0px;
  padding: 0px;
}
/* line 126, ../scss/screen.scss */
.ui.page.grid .ui.header {
  color: #FF7F66;
  margin: calc(2rem - .165em) 0 1rem;
  margin: -webkit-calc(2rem - .165em) 0 1rem;
}
/* line 130, ../scss/screen.scss */
.ui.page.grid .ui.header div.content {
  font-weight: normal;
}

/* Common style */
/* line 138, ../scss/screen.scss */
.friend-blocks figure {
  position: relative;
  float: left;
  overflow: hidden;
  margin: 10px 1%;
  min-width: 100px;
  max-width: 200px;
  min-height: 100px;
  max-height: 200px;
  text-align: center;
}
/* line 149, ../scss/screen.scss */
.friend-blocks figure img {
  opacity: 0.9;
}
/* line 154, ../scss/screen.scss */
.friend-blocks figure figcaption {
  position: absolute;
  font-size: 1.25em;
  width: 100%;
  height: 100%;
  bottom: 0;
  padding: 1em;
  height: 3.75em;
  background: #F8AC8F;
  color: #3c4a50;
  -webkit-transition: -webkit-transform 0.35s;
  transition: transform 0.35s;
  -webkit-transform: translate3d(0, 100%, 0);
  transform: translate3d(0, 100%, 0);
}
/* line 170, ../scss/screen.scss */
.friend-blocks figure figcaption span {
  vertical-align: middle;
}
/* line 173, ../scss/screen.scss */
.friend-blocks figure figcaption p {
  display: inline-block;
  font-size: 68.5%;
}
/* line 176, ../scss/screen.scss */
.friend-blocks figure figcaption p a {
  color: #3c4a50;
  font-size: 1.4em;
  vertical-align: middle;
}
/* line 186, ../scss/screen.scss */
.friend-blocks figure:hover figcaption, .friend-blocks figure:hover p, .friend-blocks figure:focus figcaption, .friend-blocks figure:focus p {
  -webkit-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
}

/* line 193, ../scss/screen.scss */
.friend-blocks figure figcaption::before,
.friend-blocks figure figcaption::after {
  pointer-events: none;
}
